
#top {
	font-family: comic sans ms;
	border-radius:5px;
	background: white;
	padding: 15px;
	padding-left: 50px;
}

li {
	font-family:segoe print;
	font-size: 13px;
}
div {
	font-family: comic sans ms;
}

